<h1>Labot dokumentu</h1>

<%= render 'form', upload: @upload %>
<br>
<%= link_to 'Apskatīt', @upload, class: 'btn btn-outline-primary' %>
<%= link_to 'Atgriezties', uploads_path, class: 'btn btn-outline-secondary' %>
