<p id="notice"><%= notice %></p>

<h1>Dokumentu Saraksts</h1>

<table>
  <thead>
    <tr>
      <th>Nosaukums</th>
      <th>Apraksts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uploads.each do |upload| %>
      <tr>
        <td><%= link_to "#{upload.title.to_s.first(30)}", upload %></td>
        <td><%= upload.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Pievienot dokumentu', new_upload_path, class: 'btn btn-success' %>
